.container { padding: 0 2rem; }
.footer { display: flex; padding: 1rem; border-top: 1px solid #eaeaea; justify-content: center; align-items: center }
.webcam { display: none }
.output { margin: 0 auto; width: 100% }
.status { position: absolute; top: 12px; right: 20px; background-color: grey; padding: 8px; box-shadow: 2px 2px black; font-family: monospace }
.log { border-top: 1px solid #eaeaea; padding: 8px }
.performance { position: absolute; bottom: 0; width: 100%; padding: 8px; font-size: 0.8rem; font-family: monospace }
